@model PaginationInfoViewModel

<div class="pager-container">
    <a id="Previous" class="sa-pager @Model.Previous"
       asp-all-route-data='new Dictionary<string, string> {
                                { "pageId", (@Model.ActualPage - 1).ToString() },
                                { "searchText", (@ViewData["searchText"]??"").ToString()} }'>
        Предыдущая страница
    </a>
    <a id="Next" class="sa-pager @Model.Next"
       asp-all-route-data='new Dictionary<string, string> {
                                { "pageId", (@Model.ActualPage + 1).ToString() },
                                { "searchText", (@ViewData["searchText"]??"").ToString()} }'>
        Следующая страница
    </a>
</div>
